doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form.createList
      input(type="text", placeholder="Create a List HERE!")
      input(type="submit")
    h1
      block content
